body {
  background-color: #173f35;
  color: #ffa300;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #ffa300;
}

.icon-links {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 3%;
  right: 3%;
}

.nav {
  width: 21vw;
}

.github-icon,.linkedin-icon {
  max-width: 8vh;
  margin: 2vh;
}

.content-container {
  position: absolute;
  top: 12vh;
  left: 10vw;

  width: 80vw;
  height: 80vh;
}

.bottom-stripe {
  background-color: 	#9e2a2f;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
}

.bottom-stripe-accent {
  background-color: 	#ffa300;
  z-index: -1;
  position: absolute;
  bottom: 10vh;
  left: 0;
  height: 1vh;
  width: 100vw;
}

.headshot {
  position: absolute;
  top: 5vh;
  right: 5vw;
  border-radius: 50%;
  height: 25vh;

}

.about-me-text,.like-list {
  margin: 0;
  height: fit-content;
  max-width: 45vw;
}
